@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
:root {
  --bg-login: #fcd949;
  --bg-button:#1D1D1D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.button{
    height: 40px;
    background-color: var(--bg-button) ;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    border-radius: 4px;
}

.button:hover{
  background-color: #000 ;
}