:root {
  --bg-login: #ffef5b;
  --bg-button:#1D1D1D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.button{
    height: 40px;
    background-color: var(--bg-button) ;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
