* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
}

.list-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.list-control {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  width: 100%;
}

.filtro-Caixa {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filtro-Caixa select {
  width: 125px;
  height: 30px;
  font-size: 16px;
}

.filtro-Caixa label {
  font-size: 1.2rem;
}

tr:nth-child(even) {
  background-color: var(--bg-lista);
}


.add-link {
  width: 120px;
  height: 40px;
  background-color: var(--bg-button);
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: none;
  opacity: 0.8;
  transition: 0.3s;
}

.add-link:hover {
  opacity: 1;
}

.tabela {
  max-width: 100%;
  width: 100%;
  max-height: 350px;
  margin: 50px auto 0px;

  overflow: auto;
}

table {
  width: 100%;
  min-width: 600px;
}

table tr {
  height: 40px;
}

table td {
  text-align: center;
}

.op-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.op-item a {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}

.op-item a:first-child {
  border-right: 1px solid rgba(58, 57, 57, 0.062);
}

.op-item a:hover,  .op-item button:hover{
  opacity: 1;
  background: rgba(211, 211, 211, 0.322);
}

.op-item button{
  border: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}


.op-item img {
  display: inline-block;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 767px) {
  .tabela {
    margin-top: 30px;
    overflow: scroll;
  }

  .list-control {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
