.login-bg {
  background: linear-gradient(to right, var(--bg-login) 50%, #fff 0%);
}

.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.formulario {
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.formulario img{
    width: 116px;
    height: 120px;
}

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.form input {
  width: 100%;
  height: 40px;
  border: none;

  border-radius: 3px;
  padding: 10px;
}

.form label {
  margin: 0;
  margin-bottom: 5px;
  margin-top: 30px;
}

.link{
    margin: 10px 0px 30px;
    text-decoration: none;
    color: #0065b8;
}

.img-login img{
    display: block;
    margin: 0 auto;
    max-width: 70%;
    object-fit: contain;

}
.img-login{
  position: relative;
}

.img-login::before{
 content: url('../img/decoracao.svg');
 right: 5px;
 top: -150px;
 position: absolute;
  
}

.img-login::after{
  content: url('../img/decoracao.svg');
  left: 5px;
  bottom: -150px;
  position: absolute;
  
 }

.link-create{
  margin-top: 40px;
  color: black;
 
  display: flex;
  flex-direction: column;
}

@media screen and (max-width:800px){
  .login-bg {
    background:  var(--bg-login);
  }
  .login{
    grid-template-columns: 1fr;
  }
  .formulario{
    padding: 10px;
    width: 50%;
    min-width: 320px;
    margin: 0 auto;
    position: relative;
  }
  
  .img-login{
    display: none;
  }
  
}